{
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/prop-types": "off"
  },
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
