#
# CADT init file for systemd. To start the CADT service
# using systemd, execute `systemctl start cadt@<USERNAME>`
# where <USERNAME> is the Linux user you wish to run
# CADT as. Normally you'll run CADT on the same system
# as the Chia Wallet and Data Layer and you need to run
# CADT as the same user as Chia.
#
# For example, if running Chia as the ubuntu user
# with your $CHIA_ROOT directory at /home/ubuntu/.chia,
# then start CADT with the command
#
# `systemctl start cadt@ubuntu`
#

[Unit]
Description=CADT

# Stop automatically restarting if 10 failures in 5 minutes
StartLimitIntervalSec=300
StartLimitBurst=10

[Service]
# Set Chia directory as an environment variable
Environment=CHIA_ROOT=/home/%i/.chia/mainnet

# CADT executable
ExecStart=/opt/cadt/cadt

# Start the software with `systemctl start cadt@username`
User=%i
Group=%i

# Auto-restart if process stopped outside of systemd
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
