Package: CADT
Version: {{ CADT_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Chia Network Inc <hello@chia.net>
Description: Climate Action Data Trust
Homepage: https://github.com/Chia-Network/climate-warehouse
